.body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-top: 3rem;
}

.section {
  width: 50rem;
  background-color: #ffffff;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
.logo {
  width: 15rem;
}
.title {
  margin: 2rem 0;
}

.navLink {
  display: flex;
  justify-content: center;
  text-align: center;
}
.link {
  display: grid;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0.1rem;
  border: 1px solid #ad075c;
  background-color: #ad075c;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  color: white;
  text-decoration-line: none;
}

.link:hover {
  background-color: #7b0542;
}

.button {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  padding: 0 1rem;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ad075c;
  color: #ad075c;
  background-color: white;
  user-select: none;
}
.button:hover {
  color: white;
  background-color: #ad075c;
}

.register {
  margin-top: 2rem;
  font-weight: bold;
}

.registerLink {
  margin: 0 0.5rem;
  background-color: #ad075c;
  border: 1px solid #ad075c;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 50px;
  text-decoration-line: none;
  font-weight: lighter !important;
}

.registerLink:hover {
  background-color: white;
  border: 1px solid #ad075c;
  color: #ad075c;
}

.inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.inputGroup div {
  width: 21.5rem;
}

.inputGroup div + div {
  margin-left: 3rem;
}

.textArea {
  margin-top: 1rem;
}
